@model JRMarketing.Gui.Models.UsuarioRequestDto
@{ Layout = "AdminLayout"; ViewBag.Title = "Add a Reservation";}


<div class="container-xl table-wrapper">
    <hr />
    <h2 class="text-center">Agregar Usuario <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-secondary text-center">Cancelar</a></h2>
    <form style="margin-top: 25px;" asp-action="Create">
        <div class="form-group form-row">
            <div class="col-md-4 mt-md-2">
                <label for="Name" class="control-label col-md-8">Nombre de Usuario:</label>
                <div class="col-md-12">
                    <input class="form-control" name="NombreUsuario" />
                </div>
            </div>
            <div class="col-md-4 mt-md-2">
                <label for="StartLocation" class="control-label col-md-2">Contraseña:</label>
                <div class="col-md-12">
                    <input type="password" class="form-control" name="Contrasenia" />
                </div>
            </div>
            <div class="col-md-4 mt-md-2">
                <label for="EndLocation" class="control-label col-md-2">Nombre:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Nombre" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="Name" class="control-label col-md-2">Apellidos:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Apellidos" />
                </div>

            </div>
            <div class="col-md-4 mt-md-3">
                <label for="StartLocation" class="control-label col-md-2">Direccion:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Direccion" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="EndLocation" class="control-label col-md-2">Colonia:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Colonia" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="Name" class="control-label col-md-2">Estado:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Estado" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="StartLocation" class="control-label col-md-2">Ciudad:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Ciudad" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="EndLocation" class="control-label col-md-10">Código Postal:</label>
                <div class="col-md-12">
                    <input class="form-control" name="CoidgoPostal" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="EndLocation" class="control-label col-md-10">Fecha de Nacimiento:</label>
                <div class="col-md-12">
                    <input type="date" class="form-control" name="FechaNacimiento" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="StartLocation" class="control-label col-md-2">Correo:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Correo" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="EndLocation" class="control-label col-md-2">Telefono:</label>
                <div class="col-md-12">
                    <input class="form-control" name="TelefonoUsuario" />
                </div>
            </div>
            <input type="hidden" class="form-control" value="Cliente" name="Tipo" />
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar Datos" class="btn btn-primary btn-lg btn-block mt-md-3" style="margin:10px" />
        </div>
    </form>
</div>       