@model JRMarketing.Gui.Models.Etiquetum
@{
    ViewData["Title"] = "Lista de Publicaciones";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-xl table-wrapper" style="margin-left: 35px;">
    <hr />
    <link href="~/css/estilos.css" rel="stylesheet" />
    <h2 class="text-center">Mi Anuncio <a asp-controller="Etiquetum" asp-action="Index" class="btn btn-sm btn-secondary text-center">Regresar</a></h2>

    <form style="margin-top: 25px;" asp-action="Create">         
        <div class="form-group form-row">
            <div class="col-md-4 mt-md-2" style="min-width: 880px;">
                <label for="Name" class="control-label col-md-12">Nombre de la categoría:</label>
                <div class="col-md-12" style="min-width: 880px;">
                    <input class="form-control" asp-for="NombreEtiqueta" required />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Agregar Categoría" class="btn btn-primary btn-lg btn-block mt-md-3" style="margin:10px" />
        </div>     
    </form>
</div>