@model IEnumerable<JRMarketing.Gui.Models.Publicaciones>

@{
    ViewData["Title"] = "Lista de Publicaciones";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@if (Model.Any())
{
    int n = 1;
    <div class="container">
    <h1 style="margin-top:18px;">Lista de Publicaciones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    ID Restaurante
                </th>
                <th>
                    Imagen
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionP)
                    </td>
                    <td>
                        <div id="max-td">
                            @Html.DisplayFor(modelItem => item.IdRestaurantePubli)
                        </div>
                    </td>
                    <td>
                        <img id="publicacion" src="~/myimages/@item.Foto" />
                    </td>
                    <td>
                        <a asp-controller="Publicacion" asp-route-Id="@item.Id" asp-action="Update" class="edit" title="Editar" data-toggle="tooltip"><i class="material-icons">Editar</i></a>
                    </td>
                </tr>
                n++;
                if (n > 30)
                    break;
            }
        </tbody>
    </table>
     </div>
}
else
{
    <h1 style="margin-left:20px;">NO EXISTEN ANUNCIONES REGISTRADOS</h1>
}

<style>
    #publicacion{
        width: 250px;
        height: auto;
    }
    #max-td{
        max-width: 200px;
    }
</style>
