
@{
    ViewData["Title"] = "Index - JRMarketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/otros/styles.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="~/css/otros/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/otros/boxicons.min.css" rel="stylesheet" />
<link href="~/css/otros/animate.min.css" rel="stylesheet" />
<link href="~/css/otros/owl.carousel.min.css" rel="stylesheet" />
<link href="~/css/otros/venobox.css" rel="stylesheet" />
<link href="~/css/otros/aos.css" rel="stylesheet" />
<link href="~/css/otros/stylemy.css" rel="stylesheet" />

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Bienvenidos a <span>JR.MARKETING</span></h1>
                <h2>Pagina encargada al servicio de publicidad de Restaurantes.</h2>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                <!--<a href="https://www.youtube.com/watch?v=yAX_AIMQZZc" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>-->
                <a href="https://github.com/Javierantonio092/JRMarketing" target="_blank" class="play-btn"></a>
            </div>

        </div>
    </div>
</section>
S
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">                
                        <img src="~/assets/img/about.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>JR.MARKETING te ayuda a mejorar más</h3>
                    <p class="font-italic">
                        Nosotros somos la mejor opcion para ayudar a mejorar tu negocio, ofreciendole una mejor calidad.
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Publicidad para atraer a tus clientes</li>
                        <li><i class="icofont-check-circled"></i> Tu negocio sea conocido por otras personas</li>
                        <li><i class="icofont-check-circled"></i> Siempre hay tiempo para ser un emprendedor</li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <p>JR.MARKETING</p>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>¿Qué es JR.MARKETING?</h3>
                                <p class="font-italic">JR.MARKETING es una pagina diseñada para la publicidad de Restaurantes, es decir, ayuda a dichas franquicias grandes o pequeñas a mejorar su economia atrayendo clientes para asi cosumir el producto que ofrece.</p>
                                <p>El proposito general de esta pagina es ayudar aquellas personas que empiezan a ser emprendedores, fomentando la publicidad para generar ingresos en sus negocios.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">                          
                                <img src="~/assets/img/specials-1.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Et blanditiis nemo veritatis excepturi</h3>
                                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">                      
                                <img src="~/assets/img/specials-2.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                                <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">                   
                                <img src="~/assets/img/specials-3.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                                <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">                              
                                <img src="~/assets/img/specials-4.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">                            
                                <img src="~/assets/img/specials-5.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Specials Section -->
    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <p>¿Qué tanto hay para ofrecer?</p>
            </div>

            <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="600">

                <div class="row event-item">
                    <div class="col-lg-6">              
                        <img src="~/assets/img/comida-rápida.jpg" class="img-fluid" />
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>Hay Hambre?</h3>
                        <div class="price">
                            <p><span>Que se te antoja?</span></p>
                        </div>
                        <p class="font-italic">
                            Podras encontrar una gran variedad de alimentos y bebidas
                        </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Hamburguesas</li>
                            <li><i class="icofont-check-circled"></i> Pizzas</li>
                            <li><i class="icofont-check-circled"></i> Hot-Dogs</li>
                            <li><i class="icofont-check-circled"></i> Snacks</li>
                            <li><i class="icofont-check-circled"></i> ETC.</li>
                        </ul>
                        <p>
                            Calma el hambre y busca aqui lo mejor de lo mejor.
                        </p>
                    </div>
                </div>

                <div class="row event-item">
                    <div class="col-lg-6">               
                        <img src="~/assets/img/Familia.png" class="img-fluid" />
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>Lo mejor para ti y para los tuyos.</h3>
                        <div class="price">
                            <p><span></span></p>
                        </div>
                        <p class="font-italic">
                            ¿Para que quedarte en casa?
                            Puedes conocer restaurantes y ordenar los mejores platillos para satisfacer a los tuyos.
                            <ul>
                                <li><i class="icofont-check-circled"></i>Todo negocio cuenta con toda las normas de seguridad antigienica.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="row event-item">
                    <div class="col-lg-6">           
                        <img src="~/assets/img/event-custom.jpg" class="img-fluid" />
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>Custom Parties</h3>
                        <div class="price">
                            <p><span>$99</span></p>
                        </div>
                        <p class="font-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>

